.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.modal {
	background-color: #020d17;
	color: #ffffff;
	border-radius: 4px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	max-width: fit-content;
	width: 90%;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px;
	color: #ffffff;
}

.close-button:hover {
	color: #ff0000;
}
