.input-stroke {
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #4b97e8;
	border-radius: 5px;
	text-align: center;
}

.input-form {
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #4b97e8;
	border-radius: 2px;
	text-align: start;
}
