.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.justify-around {
	justify-content: space-around;
}

.justify-between {
	justify-content: space-between;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.align-center {
	align-items: center;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.gap-s {
	gap: 0.5rem;
}

.gap-m {
	gap: 1rem;
}

.gap-l {
	gap: 1.5rem;
}

.gap-xl {
	gap: 2rem;
}

.wrap {
	flex-wrap: wrap;
}

.width-100 {
	width: 100%;
}

.width-90 {
	width: 90%;
}

.width-75 {
	width: 75%;
}

.width-50 {
	width: 50%;
}

.width-25 {
	width: 25%;
}

.padding-s {
	padding: 0.5rem 1rem;
}

.padding-m {
	padding: 1rem 1.5rem;
}

.padding-l {
	padding: 1.5rem 2rem;
}

.padding-xl {
	padding: 2rem 2.5rem;
}

.bold {
	font-weight: 700;
}

.font-24 {
	font-size: 24px;
}

.border-underline {
	border-bottom: 2px solid #4b97e8;
}

.pointer {
	cursor: pointer;
}

.grey-background {
	background-color: #1d2d3b;
	border-radius: 5px;
}

img {
	width: auto;
	height: 100%;
	object-fit: cover;
}

.no-decoration {
	text-decoration: none;
}
