.hero-landing-container,
.hero-landing-content {
	position: relative;
	height: 100vh;
}

.main-bg {
	position: absolute;
	height: 100vh;
	background-image: url('../../assets/main-bg.jpg');
	background-size: cover;
	background-position: center;
	opacity: 0.4;
	z-index: -1;
}

.landing-content {
	position: relative;
	z-index: 1;
}

.briefing-landing-container {
	background-color: #80868b;
}

@media (max-width: 768px) {
	.key-features-container {
		flex-direction: column;
	}
	.feature-card {
		width: 75%;
	}
}

.briefing-container {
	max-width: 50vw;
}

.footer-landing-container {
	position: relative;
	height: 50vh;
}

.footer-bg {
	position: absolute;
	height: 50vh;
	background-image: url('../../assets/footer-bg.jpg');
	background-size: cover;
	background-position: center;
	opacity: 0.4;
	z-index: -1;
}

.footer-landing-content {
	height: 50vh;
}
