.left-post-container,
.right-post-container {
	flex: 1 0 0;
}

.main-post-container,
.left-post-container {
	min-height: 35vh;
}

.curve-container {
	height: 35vh;
}

@media (max-width: 768px) {
	.main-post-container {
		flex-direction: column;
		gap: 1rem;
	}

	.curve-container {
		width: 100%;
	}
}

.user-comment {
	font-size: 16px;
	overflow-wrap: break-word;
	font-family: 'Roboto Flex', sans-serif;
}
