.dashboard-main-container {
	min-height: 100vh;
}

.dashboard-subtitle {
	padding: 0.5rem 2rem;
}

.dashboard-content-body {
	flex: 1 0 0;
}

.dashboard-footer-container {
	margin-top: auto;
}

.table-data {
	height: 38vh;
	overflow-y: auto;
}

.table-data::-webkit-scrollbar {
	width: 0.2rem;
}

.table-data::-webkit-scrollbar-track {
	background: transparent;
}

.table-data::-webkit-scrollbar-thumb {
	background: aliceblue;
}
