.model-main-container {
	min-height: 100vh;
}

.model-footer-container {
	margin-top: auto;
}

.model-content-left,
.model-content-mid,
.model-content-right {
	flex: 1 0 0;
	max-height: 55vh;
}

.model-button-container {
	margin-top: auto;
}

.model-radio-container {
	overflow-y: auto;
}

.model-instructions {
	overflow-y: auto;
}

.model-radio-container::-webkit-scrollbar,
.model-instructions::-webkit-scrollbar {
	width: 0.2rem;
}

.model-radio-container::-webkit-scrollbar-track,
.model-instructions::-webkit-scrollbar-track {
	background: transparent;
}

.model-radio-container::-webkit-scrollbar-thumb,
.model-instructions::-webkit-scrollbar-thumb {
	background: aliceblue;
}

.model-data-upload-container,
.model-features-upload-container,
.model-content-mid-upper,
.model-content-mid-lower {
	flex: 1 0 0;
}

@media (max-width: 768px) {
	.model-content-container {
		flex-direction: column;
		gap: 1rem;
	}

	.model-content-left,
	.model-content-mid-lower,
	.model-content-right {
		gap: 1rem;
	}
}
