.preprocess-main-container {
	min-height: 100vh;
}

.preprocess-footer-container {
	margin-top: auto;
}

.preprocess-content-left,
.preprocess-content-mid,
.preprocess-content-right {
	flex: 1 0 0;
	max-height: 55vh;
}

.preprocess-button-container {
	margin-top: auto;
}

.preprocess-dropdown-container {
	overflow-y: auto;
	height: 40vh;
}

.preprocess-content-right {
	overflow-y: auto;
}

.preprocess-dropdown-container::-webkit-scrollbar,
.preprocess-content-right::-webkit-scrollbar {
	width: 0.2rem;
}

.preprocess-dropdown-container::-webkit-scrollbar-track,
.preprocess-content-right::-webkit-scrollbar-track {
	background: transparent;
}

.preprocess-dropdown-container::-webkit-scrollbar-thumb,
.preprocess-content-right::-webkit-scrollbar-thumb {
	background: aliceblue;
}
