.preprocess-main-container {
	min-height: 100vh;
}

.preprocess-footer-container {
	margin-top: auto;
}

.preprocess-content-left,
.preprocess-content-mid,
.preprocess-content-right {
	flex: 1 0 0;
	max-height: 55vh;
}

.data-upload-container,
.fasta-upload-container {
	flex: 1 0 0;
}

.preprocess-button-container {
	margin-top: auto;
}

.preprocess-dropdown-container {
	overflow-y: auto;
	height: 40vh;
}

.preprocess-content-left {
	overflow-y: auto;
}

.preprocess-dropdown-container::-webkit-scrollbar,
.preprocess-content-left::-webkit-scrollbar {
	width: 0.2rem;
}

.preprocess-dropdown-container::-webkit-scrollbar-track,
.preprocess-content-left::-webkit-scrollbar-track {
	background: transparent;
}

.preprocess-dropdown-container::-webkit-scrollbar-thumb,
.preprocess-content-left::-webkit-scrollbar-thumb {
	background: aliceblue;
}

@media (max-width: 768px) {
	.preprocess-content-container {
		flex-direction: column;
		gap: 1rem;
	}

	.preprocess-content-left,
	.preprocess-content-mid,
	.preprocess-content-right {
		gap: 1rem;
	}
}

.input-button {
	display: none;
}
