.main-navbar-container {
	height: 10vh;
	background-color: #1d2d3b;
	border-radius: 5px;
	position: sticky;
	top: 0;
}

.right-navbar-container {
	display: none;
}

@media (max-width: 768px) {
	.mid-navbar-container {
		display: none;
	}

	.right-navbar-container {
		display: flex;
	}
}
